<div class="row">
  <div class="col-12">
      <h1>Esta es una página privada, visible solo si el usuario está autenticado en Keycloak</h1>
  </div>
  <div class="col-12 text-center" >
    <button type="button" class="btn btn-success btn-lg mt-3" (click)="makeHttpRequest()"> Hacer Petición Http al Backend </button>

  </div>
  <div class="col-12">
    <p><label for="httpRresponse">Respuesta:</label></p>
    <textarea class="form-control" [value]="response" rows="10" cols="50" id="httpRresponse">

    </textarea>
  </div>
  <div class="col-12 text-center">
    <button type="button" class="btn btn-info btn-lg mt-3" [routerLink]="['/home']">Volver a la página de inicio</button>
  </div>
</div>
